services:
  vector_db:
    build:
      context: ./components/vector_db
      dockerfile: Dockerfile
    image: vector_db:latest
    ports:
      - "6333:6333"
      - "6334:6334"

  data_ingestor:
    build:
      context: ./components/data_ingestor
      dockerfile: Dockerfile
    image: data_ingestor:latest
