name: Unit Tests

on:
   # Trigger on pull requests, pushes to main branch, and manual workflow dispatch
    push:
        branches:
        - main
    pull_request:
    workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version-file: .python-version

      - name: Sync dependencies
        run: uv sync

      - name: Run unit tests
        run: uv run pytest -v tests/unit/ --junitxml=results/unit-tests.xml

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: results/unit-tests.xml
          check_name: Unit Test Results
